<mat-nav-list>
    <h2 class="menu" matSubholder>メインメニュー</h2>
    <mat-divider></mat-divider>
    <a mat-list-item routeLinkAvtive="list-item-active" routerLink="/">
        <mat-icon fontSet="fas" fontIcon="fa-chart-area"></mat-icon>
        ダッシュボード
    </a>
    <a mat-list-item routeLinkAvtive="list-item-active" routerLink="/account">
        <mat-icon fontSet="far" fontIcon="fa-user-circle"></mat-icon>
        アカウント
    </a>
    <a mat-list-item routeLinkAvtive="list-item-active" routerLink="/template">
        <mat-icon fontSet="fas" fontIcon="fa-pencil-alt"></mat-icon>
        テンプレート
    </a>
    <a mat-list-item routeLinkAvtive="list-item-active" routerLink="/offer">
        <mat-icon fontSet="fas" fontIcon="fa-user-check"></mat-icon>
        オファー
    </a>
</mat-nav-list>