:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width: 200px;
    background: #2c343c;
    color: white;
}

mat-drawer-content {
    padding: 10px;
    background: aliceblue;
}

mat-drawer-container {
    height: 100%;
}